* {
    /*box-sizing: border-box;*/
    margin: 0 auto;
    font-family: Roboto;
}
ul{
    padding: 0px;
}

.contact-link{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    background-color: #d4d4d4;
    color: #ffffff;
}
.contact-link:hover{
    background-color: #62d995;
    cursor: pointer;
}

.footer-links{
    display: inline-block;
    color: #848484;
}

.section{
    padding-top: 54px;
    padding-bottom: 54px;
    max-width: 1600px;
    width: 80%;
}

.uppercase {
    text-transform: uppercase;
}

/*.clearfix{*/
/*    overflow: auto;*/
/*}*/

#notify-contact{
    background-color: #ffffff;
    text-align: center;
}
#notify-footer{
    background-color: #e3e3e3;
    text-align: center;
}
#notify-header{
}

#notify-header img{
    position: relative;
}

#notify-header .image-inner{
    position: absolute;
    top: 0;
    left: 0;
}

#notify-updates{
    background-color: #e3e3e3;
}

#notify-features{
    background-color: #ffffff;
    text-align: center;
}

#notify-testimonials{
    background-color: #ffffff;
    text-align: center;
}