* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
}
ul{
    padding: 0px;
}

.contact-link{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.62em;
    border-radius: 100%;
    background-color: #d4d4d4;
    color: #ffffff;
}
.contact-link:hover{
    background-color: #62d995;
    cursor: pointer;
}
.feature{
    /*overflow: auto;*/
}
.feature div:nth-child(2){
    margin-top: 1em;
    font-weight: bold;
}
.feature div:nth-child(3){
    margin-top: 1em;
    color: #848484;
}
.feature-list-icon{
    text-align: center;
    vertical-align: middle;
    font-size: 325%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.54em;
    border-radius: 100%;
    background-color: #62d995;
    color: #ffffff;
}
.features{
    overflow: auto;
}
.features .feature:not(:last-child) {
    border-right: 1px solid rgba(55, 55, 55, .25);
}
.footer-links{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    color: #848484;
    text-decoration: none;
}
.footer-links:hover{
    color: #62d995;
}
.header-link{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
}
.header-link:hover{
    background-color: rgba(98,217,149,1);
}
.section{
    padding-top: 54px;
    padding-bottom: 54px;
    max-width: 1600px;
    width: 80%;
}
.testimonial-pics img{
    display: inline-block;
}
.testimonial-review{
    font-style: italic;
    width: 66%;
    max-width: 800px;
}

.uppercase {
    text-transform: uppercase;
}

/*.clearfix{*/
/*    overflow: auto;*/
/*}*/

#notify-contact{
    background-color: #ffffff;
    text-align: center;
}
#notify-contact .section div:nth-child(1){
    font-weight: bold;
}
#notify-contact .section div:nth-child(2){
    margin-top: 1em;
    color: #848484;
}
#notify-contact .section div:nth-child(3){
    margin-top: 1em;
}
#notify-footer{
    background-color: #e3e3e3;
    text-align: center;
}
#notify-header{
    box-sizing: border-box;
    color: #ffffff;
    height: 545px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#notify-updates{
    background-color: #e3e3e3;
}

#notify-features{
    background-color: #ffffff;
    text-align: center;
}

#notify-testimonials{
    background-color: #ffffff;
    text-align: center;
}
#notify-testimonials .section{
    padding-bottom: 0px;
}

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}