* {
    /*box-sizing: border-box;*/
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
}
ul{
    padding: 0px;
}

.contact-link{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.62em;
    border-radius: 100%;
    background-color: #d4d4d4;
    color: #ffffff;
}
.contact-link:hover{
    background-color: #62d995;
    cursor: pointer;
}
.feature-list-icon{
    text-align: center;
    vertical-align: middle;
    font-size: 325%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.54em;
    border-radius: 100%;
    background-color: #62d995;
    color: #ffffff;
}
.feature-list-item{
    display: inline-block;
    width: 30%;
}
.feature-list-item div:nth-child(2){
    margin-top: 1em;
    font-weight: bold;
}
.feature-list-item div:nth-child(3){
    margin-top: 1em;
    color: #848484;
}
.footer-links{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    color: #848484;
    text-decoration: none;
}
.footer-links:hover{
    color: #62d995;
}
.header-link{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
}
.header-link:hover{
    background-color: rgba(98,217,149,1);
}
.section{
    padding-top: 54px;
    padding-bottom: 54px;
    max-width: 1600px;
    width: 80%;
}
.testimonial-pics img{
    display: inline-block;
}
.testimonial-review{
    font-style: italic;
    width: 66%;
    max-width: 800px;
}

.uppercase {
    text-transform: uppercase;
}

/*.clearfix{*/
/*    overflow: auto;*/
/*}*/

#notify-contact{
    background-color: #ffffff;
    text-align: center;
}
#notify-contact .section div:nth-child(1){
    font-weight: bold;
}
#notify-contact .section div:nth-child(2){
    margin-top: 1em;
    color: #848484;
}
#notify-contact .section div:nth-child(3){
    margin-top: 1em;
}
#notify-footer{
    background-color: #e3e3e3;
    text-align: center;
}
#notify-header{
    box-sizing: border-box;
    color: #ffffff;
    height: 545px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#notify-updates{
    background-color: #e3e3e3;
}

#notify-features{
    background-color: #ffffff;
    text-align: center;
}

#notify-testimonials{
    background-color: #ffffff;
    text-align: center;
}
#notify-testimonials .section{
    padding-bottom: 0px;
}