<!DOCTYPE html>
<html lang="en" ng-app="drinkStore">

<head>
    <% include partials/head.ejs %>
        <script src="/js/angular.min.js"></script>
        <script src="/js/app-drink.js"></script>
</head>

<title>Front End Practice - Drinks</title>

<body class="list-group" ng-controller="DrinkController as store">
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <!--  Product Container  -->
            <div class="list-group-item" ng-repeat="choice in store.choices">
                <h3>{{choice.name}} <em class="pull-right">{{choice.price | currency}}</em></h3>
            </div>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>