<!DOCTYPE html>
<html lang="en" ng-app="drinkStore">

<head>
    <% include partials/head.ejs %>
        <script src="/js/angular.min.js"></script>
        <script src="/js/app-drink.js"></script>
        <link rel="stylesheet" href="/stylesheets/app-drink.css">
</head>

<title>Front End Practice - Drinks</title>

<body class="list-group" ng-controller="DrinkController as store">
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <!--  Product Container  -->
            <section class="tab" ng-controller="TabController as tab">
                <ul class="nav nav-pills">
                    <li ng-class="{active: tab.isSet(1)}">
                        <a ng-click="tab.setTab(1)">{{store.choices[0].name}}</a></li>
                    <li ng-class="{active: tab.isSet(2)}">
                        <a ng-click="tab.setTab(2)">{{store.choices[1].name}}</a></li>
                    <li ng-class="{active: tab.isSet(3)}">
                        <a ng-click="tab.setTab(3)">{{store.choices[2].name}}</a></li>
                </ul>
                <div ng-show="tab.isSet(1)">
                    <blockquote>{{store.choices[0].description}}</blockquote>
                    <ul>
                        <li ng-repeat="review in store.choices[0].reviews">
                            <blockquote>
                                <strong>{{review.stars}} Stars</strong> {{review.body}}
                                <cite class="clearfix">—{{review.author}}</cite>
                            </blockquote>
                        </li>
                    </ul>
                    <form name="reviewForm" novalidate ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(store.choices[0])">

                        <!--  Live Preview -->
                        <blockquote ng-show="review">
                            <strong>{{reviewCtrl.review.stars}} Stars</strong> {{reviewCtrl.review.body}}
                            <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                        </blockquote>

                        <!--  Review Form -->
                        <h4>Submit a Review</h4>
                        <fieldset class="form-group">
                            <select required ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                                <option value="">Rate the Product</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input required ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="mrMean@example.org" title="Email" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                        </fieldset>
                    </form>
                </div>
                <div ng-show="tab.isSet(2)">
                    <blockquote>{{store.choices[1].description}}</blockquote>
                </div>
                <div ng-show="tab.isSet(3)">
                    <blockquote>{{store.choices[2].description}}</blockquote>
                </div>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>