<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <% include partials/head.ejs %>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>

<title>Front End Practice - Home</title>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size: 210%;">Front End Practice</h1>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h3>Hello {{yourName}}!</h3>
            <h4>Made using NodeJS, Express, Angular, EJS</h4>
            <a href='/sage'>Sage</a><br>
            <a href='/drinks'>Drinks</a>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>