<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/app-sage.css">
</head>

<title>Front End Practice - Sage</title>

<body>
    <header>
    </header>
    <div class="nav-links">
        SAGE
        <div style="display:inline;">
            <!--<ul class="nav navbar-nav">-->
            <!--    <li>Home</li>-->
            <!--    <li>Projects</li>-->
            <!--    <li>About</li>-->
            <!--    <li>Services</li>-->
            <!--    <li>Blog</li>-->
            <!--    <li>Get In Touch</li>-->
            <!--</ul>-->
        Home  X  Projects  X  About  X  Services  X  Blog  X  Get in Touch    
        </div>
        EN  X  Search
        </div>
    
    <div class="view-intro">
        <h1>WE BUILD WEBSITES AND<br>APPS THAT PEOPLE LOVE</h1>
        <div style="color: rgb(127, 122, 124);">
            Full suite of internet services in areas of website development, web based<br>
            enterprise solutions, corporate identity and advertisement</div>
        <div class="link-box">EXPLORE MORE</div>
    </div>
    
    <div class="view-projects">
        <div class="col-6">
            <div style="text-align: center;">ALL PROJECTS</div>
            <div class="project-box">
                <div class="project-image">Test</div>
                (one for each project)
            </div>
            <div class="project-box">
                <div class="project-image">Test</div>
                (one for each project)
            </div>
        </div>
        <div class="col-6">
            <div style="text-align: left;">ALL  X  Editorial  X  digital  X  photography  X  mobile  X  identity</div>
            <div class="project-box">
                <div class="project-image">Test</div>
                (one for each project)
            </div>
            <div class="project-box">
                <div class="project-image">Test</div>
                (one for each project)
            </div>
        </div>
    </div>
    
    <div class="view-footer">
        <div class="row" style="width: 75%;">
            <div class="col-3 footer-info">
                <div>SAGE</div>
            </div>
            <div class="col-3 footer-info">
                <div>About</div>
            </div>
            <div class="col-3 footer-info">
                <div>Our Works</div>
            </div>
            <div class="col-3 footer-info">
                <div>Mailing List</div>
                Sage news, offers and more. We won't share your address with anyone else.
                <div>Enter Email</div>
            </div>
        <div style="text-align: left;">2016 Sage Theme  X  Terms of Use  X  Prviacy Policy</div>
        </div>
    </div>
    
    <footer>
    </footer>

</body>

</html>