<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/app-notify.css">
    <link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">
</head>

<title>VBB - Cuda</title>

<body>
    <header>
    </header>

    <div id="notify-header">
        <div>
            A great new free psd theme to showcase your new application.
            <br> OSx Droid Win
        </div>
    </div>
    <div id="notify-features">
        <div>
            Editable Theme Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
        </div>
        <div>
            Flat Design Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
        </div>
        <div>
            Reach Your Audience Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
        </div>
    </div>
    <div id="notify-get-notified">
        Get notified of any updates! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis
        ornare luctus id sollicitudin ante lobortis at.
    </div>
    <div id="notify-testimonials">
        Section
    </div>
    <div id="notify-contact">
        Say Hi & Get in Touch
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-twitter"></i></div>
    </div>

    <footer>
        <div id="notify-footer">
            <ul>
                <li>Contact</li>
                <li>Download</li>
                <li>Press</li>
                <li>Emali</li>
                <li>Support</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </footer>

</body>

</html>