<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site-green-design.css">
    <!--<link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">-->
    <link rel="icon" type="image/png" href="/images/site-green-design/leaf.png" sizes="32x32">
</head>

<title>vanillaBeanBag | Green Design</title>

<body>
    <header>
        <div class="header-content">
            <img src="/images/site-green-design/leaf.png">
            <div class="header-title"><span style="font-weight: bold;">Green</span>Design</div>
            <div class="header-links">
                <a class="link-section" href="#">home</a>/
                <a class="link-section" href="#">about</a>/
                <a class="link-section" href="#">portfolio</a>/
                <a class="link-section" href="#">clients</a>/
                <a class="link-section" href="#">contact</a>    
            </div>
        </div>
    </header>

    <div class="section" id="section-1">
        <div class="section-content">
            <div class="main-title">We know web design</div>
            <div class="main-subtitle">With over 15 years experience you can be sure your website is in safe hands</div>
            <a class="link-clicker" href="#">view our work</a>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div class="col-sm-4 serv-col">
                <img src="/images/site-green-design/serv-design-sm.png">
                <div>Web Design</div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
            </div>
            <div class="col-sm-4 serv-col">
                <img src="/images/site-green-design/serv-ecommerce-sm.png">
                <div>E-commerce</div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
            </div>
            <div class="col-sm-4 serv-col">
                <img src="/images/site-green-design/serv-seo-sm.png">
                <div>SEO</div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
            </div>
        </div>
    </div>

    <div class="section" id="client-fdbk">
        <div class="section-content">
            <div>
                <div class="section-grn-header">What our clients say</div>
            </div>
            <div class="client-testimonial">
                <img src="/images/site-green-design/client-profile.png">
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et l</div>
            </div>
        </div>
    </div>

    <div class="section" id="contact-info">
        <div class="section-content">
            <div>
                <div class="section-grn-header">Drop us a line</div>
            </div>
                <div class="col-sm-6">
                    <div>Phone</div>
                    <div>Email</div>
                    <div>Address</div>
                </div>
                <div class="col-sm-6">
                    <img src="/images/site-green-design/contact-location.png">
                </div>
                <div>
                    FB, TW, Pin, Link
                </div>
        </div>
    </div>


    <footer>

    </footer>

</body>

</html>