<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site-lipsum-media.css">
    <link rel="icon" type="image/png" href="/images/site-lipsum-media/leaf.png" sizes="32x32">
</head>

<title>vbb | Lipsum Media</title>

<body>
    <header>
        <div class="header-content clearfix">
            <div>
                Subscribe
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
            </div>
            <div>
                <div class="col-sm-4 header-logo">
                    <img class="logo-icon" src="/images/site-lipsum-media/leaf.png">
                    <div class="header-title"><span style="font-weight: bold;">Lipsum</span> Media</div>
                </div>
                <div class="col-sm-8 header-links">
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>home</a>
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>about</a>
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>work</a>
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>services</a>
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>resources</a>
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>articles</a>
                    <a class="link-section" href="#"><i class="fa fa-arrow-right header-arrow"></i>contact</a>
                    <a class="link-section" href="#">
                        <span class="link-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>Read more</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="section" id="section-1">
        <div class="section-content clearfix">
            <div class="section-main-title">Lipsum Media Presentation</div>
            <div>
                <div class="col-sm-8">
                    <div>
                        Featured Products
                    </div>
                    <img src="/images/site-lipsum-media/featured-products.png">
                </div>
                <div class="col-sm-4">
                    <div>
                        Product Description
                    </div>
                    <img src="/images/site-lipsum-media/product-description.png">
                    <!--<a class="link-clicker" href="#">Read More</a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div class="col-sm-3">
                <div class="section-title">our <span class="section-title-emph">services</span></div>
            </div>
            <div class="col-sm-5">
                <div class="section-title">did you <span class="section-title-emph">know?</span></div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
                <a class="link-clicker" href="#"><span class="link-text">Read more</span><span class="link-arrow-right"><i class="fa fa-arrow-right"></i></span></a>
            </div>
            <div class="col-sm-4">
                <div class="section-title"><span class="section-title-emph">contact</span></div>
                <div>
                    <div class="col-sm-2">
                        Ph
                    </div>
                    <div class="col-sm-10">
                        203-810-4800
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div class="section-title">Our <span class="section-title-emph">Clients</span></div>
            <div class="client-testimonial">
                <img src="/images/site-lipsum-media/client-example.png">
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <img class="logo-icon" src="/images/site-lipsum-media/leaf.png">
            <div class="footer-title"><span style="font-weight: bold;">Lipsum</span> Media</div>
            <div class="footer-links">
                <a class="link-section" href="#">home</a>
                <a class="link-section" href="#">about</a>
                <a class="link-section" href="#">work</a>
                <a class="link-section" href="#">services</a>
                <a class="link-section" href="#">resources</a>
                <a class="link-section" href="#">articles</a>
                <a class="link-section" href="#">contact</a>
            </div>
        </div>
    </footer>

</body>

</html>