<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app-notify.css">
    <link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">
</head>

<title>vanillaBeanBag | Notify</title>

<body>
    <header>
    </header>

    <div id="notify-header" style="background-image:url(/images/site-notify/header-main.png);">
        <div class="section">
            <div class="header-title">Notify</div>
            <div class="col-sm-6">
                A great new free psd theme to showcase your new application.
                <div class="header-links">
                    <a class="header-link" href="#"><i class="fa fa-apple"></i></a>
                    <a class="header-link" href="#"><i class="fa fa-android"></i></a>
                    <a class="header-link" href="#"><i class="fa fa-windows"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="notify-features">
        <div class="row features section">
            <div class="col-sm-4 feature">
                <div class="feature-list-icon"><i class="fa fa-gear"></i></div>
                <div class="section-heading">Editable Theme</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</div>
            </div>
            <div class="col-sm-4 feature">
                <div class="feature-list-icon"><i class="fa fa-star"></i></div>
                <div class="section-heading">Flat Design</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</div>
            </div>
            <div class="col-sm-4 feature">
                <div class="feature-list-icon"><i class="fa fa-globe"></i></div>
                <div class="section-heading">Reach Your Audience</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</div>
            </div>
        </div>
    </div>
    <div id="notify-updates" class="clearfix">
        <div class="section">
            <div class="col-sm-6">
                <div class="updates-list-item">
                    <div class="section-heading">
                    Get notified of any updates!    
                    </div>
                    <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis
                    ornare luctus id sollicitudin ante lobortis at.                
                    </div>
                    <form class="updates-email">
                        <input type="text" name="notify-name" placeholder="Email Address" style="color:#c6c6c6;background-color:#ffffff; width:70%; padding: 10px; border:0px;">
                        <input type="submit" style="color:#ffffff; background-color:#2ecc71; width:29%; padding: 10px; text-align:center;" value="Notify">
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="updates-list-item">
                    <img src="/images/site-notify/notify-seat.png">
                </div>
            </div>
        </div>
    </div>
    <div id="notify-testimonials">
        <div class="section">
            <div class="testimonial-review">
                <div>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”
                </div>
                <div>
                    Jane Hunt
                </div>
                <div class="testimonial-pics">
                    <img src="/images/site-notify/testimonial-p0.png">
                    <img src="/images/site-notify/testimonial-p1.png">
                    <img src="/images/site-notify/testimonial-p2.png">
                    <img src="/images/site-notify/testimonial-p3.png">
                    <img src="/images/site-notify/testimonial-p4.png">
                    <img src="/images/site-notify/testimonial-p5.png">
                    <img src="/images/site-notify/testimonial-p6.png">
                </div>
            </div>
        </div>
    </div>
    <div id="notify-contact">
        <div class="section">
            <div class="section-heading">
                Say Hi & Get in Touch
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.
            </div>
            <div>
                <a class="contact-link" href="#"><i class="fa fa-twitter"></i></a>
                <a class="contact-link" href="#"><i class="fa fa-facebook"></i></a>
                <a class="contact-link" href="#"><i class="fa fa-pinterest"></i></a>
                <a class="contact-link" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="contact-link" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="contact-link" href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <footer>
        <div id="notify-footer">
            <div class="section">
                <div>
                    <a class="footer-links" href="#">Contact</a>
                    <a class="footer-links" href="#">Download</a>
                    <a class="footer-links" href="#">Press</a>
                    <a class="footer-links" href="#">Email</a>
                    <a class="footer-links" href="#">Support</a>
                    <a class="footer-links" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>