<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site-green-design.css">
    <link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">
</head>

<title>vanillaBeanBag | Green Design</title>

<body>
    <header>
        <img src="/images/site-green-design/leaf.png">
        <div>GreenDesign</div>
        <a class="link-section" href="#">home</a>/
        <a class="link-section" href="#">about</a>/
        <a class="link-section" href="#">portfolio</a>/
        <a class="link-section" href="#">clients</a>/
        <a class="link-section" href="#">contact</a>
    </header>

    <div class="section">
        <div class="section-content">
            <div>We know web design</div>
            <div>With over 15 years experience you can be sure your website is in safe hands</div>
            <div>view our work</div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div class="col-sm-4">
                <div>Web Design</div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
            </div>
            <div class="col-sm-4">
                <div>E-commerce</div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
            </div>
            <div class="col-sm-4">
                <div>SEO</div>
                <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div>What our clients say</div>
            <div>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et l</div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div>Drop us a line</div>
        </div>
    </div>


    <footer>

    </footer>

</body>

</html>