<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/app-cuda.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">
</head>

<title>VBB - Cuda</title>

<body>
    <header>
    </header>

    <div class="clearfix cuda-page" id="cuda-welcome">
        <div class="view-panel" style="display:block;">
            <div class="clearfix" style="margin-top: 15px;">
                <img src="/images/site-cuda/logo.svg" style="margin:10px; display: block; float:left;">
                <div style="display:inline; float:right;">
                    <div class="nav-list uppercase" id="nav-list-all">home</div>
                    <div class="nav-list uppercase" id="nav-list-web">about</div>
                    <div class="nav-list uppercase" id="nav-list-icons">work</div>
                    <div class="nav-list uppercase" id="nav-list-apps">blog</div>
                    <div class="nav-list uppercase" id="nav-list-apps">contact</div>
                </div>
            </div>

            <h1 style="margin-top: 100px;">
                Hi there! We are the new kids on the block<br>
                and we build awesome websites and mobile apps.
            </h1>
            <div class="link-box uppercase">Work With Us!</div>
        </div>
    </div>

    <div class="clearfix cuda-page" id="cuda-services">
        <div class="view-panel">
            <h1 class="uppercase">
                Services We Provide
            </h1>
            <img class="title-line" src="images/site-cuda/services-line.png">
            <h2>
                We are working with both individuals and businesses from all over the globe<br>
                to create awesome websites and applications.
            </h2>
            <div>
                <div class="list-services col-md-3 col-sm-6" id="services-brand">
                    <img class="service-img" src="images/site-cuda/services-flag.png">
                    <div class="list-services-title uppercase">
                        Branding
                    </div>
                    <div class="list-services-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <img class="title-line" src="images/site-cuda/services-line.png">
                </div>
                <div class="list-services col-md-3 col-sm-6" id="services-design">
                    <img class="service-img" src="images/site-cuda/services-pencil.png">
                    <div class="list-services-title uppercase">
                        design
                    </div>
                    <div class="list-services-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <img class="title-line" src="images/site-cuda/services-line.png">
                </div>
                <div class="list-services col-md-3 col-sm-6" id="services-dev">
                    <img class="service-img" src="images/site-cuda/services-gear.png">
                    <div class="list-services-title uppercase">
                        development
                    </div>
                    <div class="list-services-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <img class="title-line" src="images/site-cuda/services-line.png">
                </div>
                <div class="list-services col-md-3 col-sm-6" id="services-rocket">
                    <img class="service-img" src="images/site-cuda/services-rocket.png">
                    <div class="list-services-title uppercase">
                        rocket science
                    </div>
                    <div class="list-services-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <img class="title-line" src="images/site-cuda/services-line.png">
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix cuda-page" id="cuda-team">
        <div class="view-panel">
            <h1 class="uppercase">
                Meet Our Beautiful Team
            </h1>
            <img class="title-line" src="images/site-cuda/team-line.png">
            <h2>
                We are a small team of designers and developers, who help brands with big ideas.
            </h2>
            <div>
                <div class="list-team col-md-3 col-sm-6">
                    <img src="images/site-cuda/profile-holder.png">
                    <div class="list-team-name uppercase">
                        Anne Hathaway
                    </div>
                    <div class="list-team-title">
                        CEO / Marketing Guru
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <ul style="text-align:center; padding: 0px;">
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-facebook"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-twitter"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-linkedin"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                        </li>
                    </ul>
                    <img class="title-line" src="images/site-cuda/team-line.png">
                </div>
                <div class="list-team col-md-3 col-sm-6">
                    <img src="images/site-cuda/profile-holder.png">
                    <div class="list-team-name uppercase">
                        Kate Upton
                    </div>
                    <div class="list-team-title">
                        Creative Director
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <ul style="text-align:center; padding: 0px;">
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-twitter"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-linkedin"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                        </li>
                    </ul>
                    <img class="title-line" src="images/site-cuda/team-line.png">
                </div>
                <div class="list-team col-md-3 col-sm-6">
                    <img src="images/site-cuda/profile-holder.png">
                    <div class="list-team-name uppercase">
                        Olivia Wilde
                    </div>
                    <div class="list-team-title">
                        Lead Designer
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <ul style="text-align:center; padding: 0px;">
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-facebook"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-twitter"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-linkedin"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                        </li>
                    </ul>
                    <img class="title-line" src="images/site-cuda/team-line.png">
                </div>
                <div class="list-team col-md-3 col-sm-6">
                    <img src="images/site-cuda/profile-holder.png">
                    <div class="list-team-name uppercase">
                        Ashley Greene
                    </div>
                    <div class="list-team-title">
                        SEO / Developer
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </div>
                    <ul style="text-align:center; padding: 0px;">
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-facebook"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-twitter"></i></div>
                        </li>
                        <li class="list-team-contact">
                            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                        </li>
                    </ul>
                    <img class="title-line" src="images/site-cuda/team-line.png">
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix cuda-page" id="cuda-skills">
        <div class="view-panel">
            <h1 class="uppercase">
                we got skills!
            </h1>
            <img class="title-line" src="images/site-cuda/skills-line.png">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>
                tempor incididunt ut labore et dolore magna aliqua.
            </h2>
            <div>
                <li class="list-skills col-md-3 col-sm-6">
                    <img src="images/site-cuda/skills-des.png">
                    <div>
                    Web Design
                    </div>
                </li>
                <li class="list-skills col-md-3 col-sm-6">
                    <img src="images/site-cuda/skills-web.png">
                    <div>
                    HTML / CSS    
                    </div>
                </li>
                <li class="list-skills col-md-3 col-sm-6">
                    <img src="images/site-cuda/skills-graphic.png">
                    <div>
                    Graphic Design    
                    </div>
                </li>
                <li class="list-skills col-md-3 col-sm-6">
                    <img src="images/site-cuda/skills-ui.png">
                    <div>
                    UI / UX
                    </div>
                </li>
            </div>
        </div>
    </div>

    <div class="clearfix cuda-page" id="cuda-portfolio">
        <div class="view-panel">
            <h1 class="uppercase">
                our portfolio
            </h1>
            <img class="title-line" src="images/site-cuda/portfolio-line.png">
            <h2>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet<br>
                consectetur, adipisci velit, sed quia non numquam
            </h2>
            <div class="clearfix">
                <div class="portfolio-list uppercase">all</div>
                <div class="portfolio-list uppercase">web</div>
                <div class="portfolio-list uppercase">apps</div>
                <div class="portfolio-list uppercase">icons</div>
            </div>
            <div class="clearfix">
                <div class="list-projects col-md-6">
                    <img src="images/site-cuda/profile-perspective.png">
                    <div class="uppercase">
                    isometric perspective mock-up
                    </div>
                </div>
                <div class="list-projects col-md-6">
                    <img src="images/site-cuda/profile-ui.png">
                    <div class="uppercase">
                    time zone app ui
                    </div>
                </div>
                <div class="list-projects col-md-6">
                    <img src="images/site-cuda/profile-viro.png">
                    <div class="uppercase">
                    viro media players ui  
                    </div>
                </div>
                <div class="list-projects col-md-6">
                    <img src="images/site-cuda/profile-blog.png">
                    <div class="uppercase">
                    blog / magazine flat UI kit
                    </div>
                </div>
            </div>
            <div class="link-box uppercase">load more projects</div>
        </div>
    </div>

    <div class="clearfix cuda-page" id="cuda-testimonials">
        <div class="view-panel">
            <h1 class="uppercase">
                what people say about us
            </h1>
            <img class="title-line" src="images/site-cuda/reviews-line.png">
            <h2>
                Our clients love us!
            </h2>
            <div class="testimonials">
                <li class="list-testimonials col-md-6">
                    <div class="col-md-3">
                    <img class="list-testimonials-mug" src="images/site-cuda/profile-holder.png">
                    </div>
                    <div class="col-md-9">
                        <div class="quote-text">
                        “Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”
                        </div>
                        <div class="quote-name">
                            Chanel Iman
                        </div>    
                        <div class="quote-pos">
                            CEO of Pinterest
                        </div>
                    </div>
                </li>
                <li class="list-testimonials col-md-6">
                    <div class="col-md-3">
                    <img class="list-testimonials-mug" src="images/site-cuda/profile-holder.png">
                    </div>
                    <div class="col-md-9">
                        <div class="quote-text">
                        “Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”
                        </div>
                        <div class="quote-name">
                            Adrianna Lima
                        </div>    
                        <div class="quote-pos">
                            Founder of Instagram
                        </div>
                    </div>
                </li>
                <li class="list-testimonials col-md-6">
                    <div class="col-md-3">
                    <img class="list-testimonials-mug" src="images/site-cuda/profile-holder.png">
                    </div>
                    <div class="col-md-9">
                        <div class="quote-text">
                        “Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”
                        </div>
                        <div class="quote-name">
                            Anne Hathaway
                        </div>    
                        <div class="quote-pos">
                            Lead Designer at Behance
                        </div>
                    </div>
                </li>
                <li class="list-testimonials col-md-6">
                    <div class="col-md-3">
                    <img class="list-testimonials-mug" src="images/site-cuda/profile-holder.png">
                    </div>
                    <div class="col-md-9">
                        <div class="quote-text">
                        “Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.”
                        </div>
                        <div class="quote-name">
                            Emma Stone
                        </div>    
                        <div class="quote-pos">
                            Co-Founder of Shazam
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>

    <div class="clearfix cuda-page" id="cuda-in-touch">
        <div class="view-panel">
            <h1 class="uppercase">
                get in touch
            </h1>
            <img class="title-line" src="images/site-cuda/contact-line.png">
            <h2>
                1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
            </h2>
            <form style="max-width: 540px; text-align: left;" class="clearfix">
                <div class="col-md-6 col-sm-12">
                    <input class="message-substance" type="text" name="contact-name" placeholder="Your Name *" required></input>
                </div>
                <div class="col-md-6 col-sm-12">
                    <input class="message-substance" type="text" name="contact-email" placeholder="Your Email *" required></input>
                </div>
                <div class="col-md-12">
                <textarea class="message-substance" rows="4" style="width:100%;" name="contact-message" placeholder="Your Message *" required></textarea>
                </div>
                <!--<input class="message-substance" style="width:100%;" type="text" name="contact-message" placeholder="Your Message *" required></input>-->
            </form>
            <div class="link-box uppercase">send message</div>
        </div>
    </div>

    <footer>
        <div class="clearfix" id="cuda-other-sites">
            <div class="view-panel">
                <li class="list-other-sites">
                    Facebook
                </li>
                <li class="list-other-sites">
                    Twitter
                </li>
                <li class="list-other-sites">
                    Google+
                </li>
                <li class="list-other-sites">
                    LinkedIn
                </li>
                <li class="list-other-sites">
                    Behance
                </li>
                <li class="list-other-sites">
                    Dribble
                </li>
                <li class="list-other-sites">
                    GitHub
                </li>
            </div>
        </div>
    </footer>

</body>

</html>