<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <!--<link href='//fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>-->
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site-awesome-hosting.css">
    <link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">
</head>

<title>vbb | Awesome Hosting</title>

<body>
    <header>
        <div class="header-content clearfix">
                <div class="header-logo">
                    <div class="header-title">Hosting</div>
                </div>
                <div>
                    Support Register Login
                </div>
                <div class="header-links">
                    <a class="col-sm-1-10 header-link-single" href="#home">
                        <span>home</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#about">
                        <span>about us</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#section-2">
                        <span>service</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>hosting plans</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>domain</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>FAQ</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>testimonials</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>blog</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>support</span>
                    </a>
                    <a class="col-sm-1-10 header-link-single" href="#articles">
                        <span>contact us</span>
                    </a>
                </div>
        </div>
    </header>

    <div class="section" id="section-1">
        <div class="section-content clearfix">
            <div class="section-main-title">Awesome Hosting</div>
            <div class="section-sub-title">with unlimited features</div>
        </div>
    </div>
    
    <div class="section" id="section-2">
        <div class="section-content">
            <div class="col-sm-2">
                <div class="icon-color"><i class="fa fa-search"></i></div>
                <div class="section-title">search your</div>
                <div class="section-title-emph">domain</div>
            </div>
            <div class="col-sm-10 col-padding">
                <form>
                    <input type="text" placeholder="Enter your domain name">
                    <select>
                        <option value="year0">Year 0-1</option>
                        <option value="year2">Year 1-2</option>
                        <option value="yearMax">Year 2+</option>
                    </select>
                    <select>
                        <option value="com">.com</option>
                        <option value="org">.org</option>
                        <option value="biz">.biz</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <div class="section" id="section-3">
        <a href="services"></a>
        <div class="section-content">
            <div class="section-title">
                <div class="icon-color"><i class="fa fa-ellipsis-h"></i></div>
                <div class="section-title">our</div>
                <div class="section-title-emph">benefits</div>
            </div>
            <div>
                <div class="col-sm-4 services-columns">
                    <div class="col-sm-3 icon-container icon-color"><i class="fa fa-thumbs-o-up"></i></div>
                    <div class="col-sm-9 serv-title">
                        99.9% Uptime
                        <div class="serv-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-columns">
                    <div class="col-sm-3 icon-container icon-color"><i class="fa fa-comments"></i></div>
                    <div class="col-sm-9 serv-title">
                        24/7/365 Support
                        <div class="serv-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-columns">
                    <div class="col-sm-3 icon-container icon-color"><i class="fa fa-laptop"></i></div>
                    <div class="col-sm-9 serv-title">
                        Protect Your PC
                        <div class="serv-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-columns">
                    <div class="col-sm-3 icon-container icon-color"><i class="fa fa-gears"></i></div>
                    <div class="col-sm-9 serv-title">
                        DNS Control
                        <div class="serv-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-columns">
                    <div class="col-sm-3 icon-container icon-color"><i class="fa fa-envelope-o"></i></div>
                    <div class="col-sm-9 serv-title">
                        Domain Transfer
                        <div class="serv-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-columns">
                    <div class="col-sm-3 icon-container icon-color"><i class="fa fa-lock"></i></div>
                    <div class="col-sm-9 serv-title">
                        100% Security
                        <div class="serv-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section-4">
        <div class="section-content">
            <div class="col-sm-5 col-padding">
                <div class="section-title">
                    <div class="icon-color"><i class="fa fa-ellipsis-h"></i></div>
                    <div class="section-title">now</div>
                    <div class="section-title-emph">what is hot</div>
                </div>
                <img style="width: 100%;" src="/images/site-awesome-hosting/offer.png">
            </div>
            <div class="col-sm-7 col-padding">
                <div class="section-title">
                    <div class="icon-color"><i class="fa fa-ellipsis-h"></i></div>
                    <div class="section-title">our</div>
                    <div class="section-title-emph">features</div>
                </div>
                <div class="section-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section-5">
        <div class="section-content">
            <div class="section-title">
                <div class="icon-color"><i class="fa fa-ellipsis-h"></i></div>
                <div class="section-title">our</div>
                <div class="section-title-emph">hosting</div>
            </div>
            <div class="col-sm-3 col-padding">
                <div>$5 per month</div>
                <div>Standard Plan</div>
                <div>10GB Disk Space</div>
                <div>1TB Bandwidth</div>
                <div>Free DDoS Protection</div>
                <div>Free Daily Backups</div>
                <div>Managed Hosting</div>
                <div>SIGNUP</div>
            </div>
            <div class="col-sm-3 col-padding">
                <div>$6 per month</div>
                <div>Standard Plan</div>
                <div>10GB Disk Space</div>
                <div>1TB Bandwidth</div>
                <div>Free DDoS Protection</div>
                <div>Free Daily Backups</div>
                <div>Managed Hosting</div>
                <div>SIGNUP</div>
            </div>
            <div class="col-sm-3 col-padding">
                <div>$8 per month</div>
                <div>Standard Plan</div>
                <div>10GB Disk Space</div>
                <div>1TB Bandwidth</div>
                <div>Free DDoS Protection</div>
                <div>Free Daily Backups</div>
                <div>Managed Hosting</div>
                <div>SIGNUP</div>
            </div>
            <div class="col-sm-3 col-padding">
                <div>$9 per month</div>
                <div>Standard Plan</div>
                <div>10GB Disk Space</div>
                <div>1TB Bandwidth</div>
                <div>Free DDoS Protection</div>
                <div>Free Daily Backups</div>
                <div>Managed Hosting</div>
                <div>SIGNUP</div>
            </div>
        </div>
    </div>
    <div class="section" id="section-6">
        <div class="section-content">
            <div class="col-sm-2">
                <div class="icon-color"><i class="fa fa-envelope"></i></div>
                <div class="section-title">search your</div>
                <div class="section-title-emph">domain</div>
            </div>
            <div class="col-sm-10 col-padding">
                <form>
                    <input type="text" placeholder="Enter your domain name">
                    <select>
                        <option value="year0">Year 0-1</option>
                        <option value="year2">Year 1-2</option>
                        <option value="yearMax">Year 2+</option>
                    </select>
                    <select>
                        <option value="com">.com</option>
                        <option value="org">.org</option>
                        <option value="biz">.biz</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <footer class="clearfix">
        <div class="footer-content">
            <div class="col-sm-3 col-footer">
                Hosting
            </div>
            <div class="col-sm-3 col-footer">
                Quick Links
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Service</li>
                    <li>Hosting plans</li>
                    <li>Domains</li>
                    <li>Faq</li>
                    <li>Blog</li>
                    <li>Support</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-sm-3 col-footer">
                Contact Us
                <ul>
                    <li>Address: lipsum text here</li>
                    <li>Email: info@hosting.com</li>
                    <li>Call: +87 788686887 68</li>
                </ul>
            </div>
            <div class="col-sm-3 col-footer">
                Social Media
                <div>
                    <div class="col-sm-3">
                        <div class="icon-container"><i class="fa fa-facebook"></i></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="icon-container"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="icon-container"><i class="fa fa-linkedin"></i></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="icon-container"><i class="fa fa-google"></i></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>

</body>

</html>