<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <!--<link href='//fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>-->
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site-graff-pink.css">
    <link rel="icon" type="image/png" href="/images/vanillabeanbag-32x32.png" sizes="32x32">
</head>

<title>vbb | Graff Pink</title>

<body>
    <header>
        <div class="header-content clearfix">
            <div>
                <div class="col-sm-4 header-logo">
                    <div class="header-title">Graff<span style="text-pink"> pink</span></div>
                </div>
                <div class="col-sm-8 header-links">
                    <a class="header-link-single" href="#home">
                        <span>home</span>
                    </a>
                    <a class="header-link-single" href="#about">
                        <span>about us</span>
                    </a>
                    <a class="header-link-single" href="#section-2">
                        <span>services</span>
                    </a>
                    <a class="header-link-single" href="#articles">
                        <span>contact</span>
                    </a>
                    <a class="header-link-single login" href="#contact">
                        <span>login</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="section" id="section-1">
        <div class="section-content clearfix">
            <div class="section-main-title">Welcome to pink</div>
            <div class="section-sub-title">A multi purpose theme from cssauthor.com</div>
        </div>
    </div>

    <div class="section" id="section-2">
        <a href="services"></a>
        <div class="section-content">
            <div class="section-title">Lorem Ipsum is simply dummy</div>
            <div class="section-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            <div class="services-list">
                <div class="col-sm-3 services-columns">
                    <div class="icon-container" id="serv-tickets"><i class="fa fa-ticket"><span class="icon-text">tickets</span></i></div>
                </div>
                <div class="col-sm-3 services-columns">
                    <div class="icon-container" id="serv-camera"><i class="fa fa-camera"><span class="icon-text">camera</span></i></div>
                </div>
                <div class="col-sm-3 services-columns">
                    <div class="icon-container" id="serv-beer"><i class="fa fa-beer"><span class="icon-text">beer</span></i></div>
                </div>
                <div class="col-sm-3 services-columns">
                    <div class="icon-container" id="serv-devices"><i class="fa fa-tv"><span class="icon-text">devices</span></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section-3">
        <div class="section-content">
            <div class="col-sm-3 col-padding">
                <img style="width: 100%;" src="/images/site-graff-pink/picpic.png">
            </div>
            <div class="col-sm-9 col-padding">
                <div class="section-title">Lorem Ipsum is simply</div>
                <div class="section-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section-4">
        <div class="section-content">
            <div class="col-sm-3 col-padding">
                <img style="width: 100%;" src="/images/site-graff-pink/picpic.png">
            </div>
            <div class="col-sm-9 col-padding">
                <div class="section-title">Lorem Ipsum is simply</div>
                <div class="section-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
    </div>

    <footer class="clearfix">
        <div class="footer-content">
            <div class="col-sm-2 col-footer">
                Sub Menu
                <ul>
                    <li>Android</li>
                    <li>Apps</li>
                    <li>Articles</li>
                    <li>Backgrounds</li>
                    <li>Blogger</li>
                    <li>Books</li>
                    <li>Coding</li>
                </ul>
            </div>
            <div class="col-sm-2 col-footer">
                Sub Menu
                <ul>
                    <li>Freebies</li>
                    <li>Greetings</li>
                    <li>Icons</li>
                    <li>Illustrator</li>
                    <li>Inspiration</li>
                    <li>iPad</li>
                    <li>iPhone</li>
                </ul>
            </div>
            <div class="col-sm-2 col-footer">
                Sub Menu
                <ul>
                    <li>Drupal</li>
                    <li>Fonts</li>
                    <li>Freebies</li>
                    <li>Greetings</li>
                    <li>Icons</li>
                    <li>Illustrator</li>
                    <li>Inspiration</li>
                </ul>
            </div>
            <div class="col-sm-2 col-footer">
                Sub Menu
                <ul>
                    <li>JQuery</li>
                    <li>Magento</li>
                    <li>Mobile</li>
                    <li>Photoshop</li>
                    <li>Plugins</li>
                    <li>Resource</li>
                    <li>Templates</li>
                </ul>
            </div>
            <div class="col-sm-4 col-footer">
                <div class="col-sm-3">
                    <div class="icon-container"><i class="fa fa-facebook"></i></div>
                </div>
                <div class="col-sm-3">
                    <div class="icon-container"><i class="fa fa-twitter"></i></div>
                </div>
                <div class="col-sm-3">
                    <div class="icon-container"><i class="fa fa-dribbble"></i></div>
                </div>
                <div class="col-sm-3">
                    <div class="icon-container"><i class="fa fa-share-alt"></i></div>
                </div>
                Copyright © 2009–2016 example.com
            </div>
        </div>
        </div>
    </footer>

</body>

</html>