<!DOCTYPE html>
<html lang="en">

<head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <link href='//fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site-lipsum-media.css">
    <link rel="icon" type="image/png" href="/images/site-lipsum-media/leaf.png" sizes="32x32">
</head>

<title>vbb | Lipsum Media</title>

<body>
    <header>
        <div class="header-content clearfix">
            <div>
                Subscribe
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
            </div>
            <div>
                <div class="col-sm-4 header-logo">
                    <img class="logo-icon" src="/images/site-lipsum-media/leaf.png">
                    <div class="header-title"><span style="font-weight: bold;">Lipsum</span> Media</div>
                </div>
                <div class="col-sm-8 header-links">
                    <a class="header-link-single" href="#home">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>home</span>
                    </a>
                    <a class="header-link-single" href="#about">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>about</span>
                    </a>
                    <a class="header-link-single" href="#work">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>work</span>
                    </a>
                    <a class="header-link-single" href="#services">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>services</span>
                    </a>
                    <a class="header-link-single" href="#resources">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>resources</span>
                    </a>
                    <a class="header-link-single" href="#articles">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>articles</span>
                    </a>
                    <a class="header-link-single" href="#contact">
                        <span class="header-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>contact</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="section" id="section-1">
        <div class="section-content clearfix">
            <div class="section-main-title">Lipsum Media Presentation</div>
            <div>
                <div class="col-sm-8">
                    <div>
                        Featured Products
                    </div>
                    <img src="/images/site-lipsum-media/featured-products.png">
                </div>
                <div class="col-sm-4">
                    <div>
                        Product Description
                    </div>
                    <img src="/images/site-lipsum-media/product-description.png">
                    <!--<a class="link-clicker" href="#">Read More</a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div class="col-sm-3 services-columns">
                <div class="section-title">our <span class="section-title-emph">services</span></div>
                <ul id="services-list">
                    <li>
                        <a class="services-link" href="#">
                        <span class="link-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>Ac tristique sagittis turpis</span>
                        </a>
                    </li>
                    <li>
                        <a class="services-link" href="#">
                        <span class="link-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>Duis mus nec porttitor</span>
                        </a>
                    </li>
                    <li>
                        <a class="services-link" href="#">
                        <span class="link-arrow-right"><i class="fa fa-arrow-right"></i></span>
                        <span>Phasellus lectus cras</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 services-columns">
                <div class="section-title">did you <span class="section-title-emph">know?</span></div>
                <div>Ac tristique sagittis turpis dis purus egestas! Duis mus nec porttitor hac ac dictumst, porttitor eros adipiscing elementum tincidunt urna mus porttitor odio, non tristique adipiscing lorem, sed nec vel adipiscing sit, quis platea parturient sit adipiscing et massa . Risus, placerat. Augue etiam et dis velit ut, auctor et, duis dolor nunc nunc, augue nisi nascetur, porta</div>
                <a class="link-clicker" href="#"><span class="link-text">Read more</span><span class="link-arrow-right"><i class="fa fa-arrow-right"></i></span></a>
            </div>
            <div class="col-sm-3 services-columns">
                <div class="section-title"><span class="section-title-emph">contact</span></div>
                <div>
                    <ul id="contact-list">
                        <li>
                            <span class="icon-container"><i class="fa fa-mobile"></i></span>
                            <span>203-810-4300</span>
                        </li>
                        <li>
                            <span class="icon-container"><i class="fa fa-print"></i></span>
                            <span>203-810-4300</span>
                        </li>
                        <li>
                            <span class="icon-container"><i class="fa fa-envelope"></i></span>
                            <span>Contact@lipsum.com</span>
                        </li>
                        <li>
                            <span class="icon-container"><i class="fa fa-home"></i></span>
                            <span>50 Washington Street<br>
                            Suite 1048<br>
                            Lipsume 0644
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <div class="section-title">Our <span class="section-title-emph">Clients</span></div>
            <div class="client-testimonial">
                <img src="/images/site-lipsum-media/client-example.png">
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <img class="logo-icon" src="/images/site-lipsum-media/leaf.png">
            <div class="footer-title"><span style="font-weight: bold;">Lipsum</span> Media</div>
            <div class="footer-links">
                <a class="link-section" href="#">home</a>
                <a class="link-section" href="#">about</a>
                <a class="link-section" href="#">work</a>
                <a class="link-section" href="#">services</a>
                <a class="link-section" href="#">resources</a>
                <a class="link-section" href="#">articles</a>
                <a class="link-section" href="#">contact</a>
            </div>
        </div>
    </footer>

</body>

</html>